@import "tailwindcss";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .btn-primary {
    @apply w-[140px] h-[48px] px-6 py-4 text-white rounded-full flex items-center justify-center bg-gradient-to-b from-[#E59E99] to-[#D1453B] transition hover:opacity-90;
  }
}
/* HERO BACKGROUND */
.hero-section {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/heroBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 800px;
  /* padding-top: 124px;
  padding-bottom: 75.04px;
  padding-right: 78.04px;
  padding-bottom:75.04px; */
  border-bottom-left-radius: 54.03px;
  border-bottom-right-radius: 54.03px;
}
